@charset "UTF-8";

body {
	font-size: 24px;
}

button {
	font-size: 1.2em;
	padding: 10px;
}

.container h2,
.deposit h2 {
	display: inline-block;
	border-bottom: solid 10px rgb(128, 255, 128);
	margin-bottom: 0;
}

header {
	font-size: 30px;
	color: green;
	text-align: center;
	border-bottom: 2px green double;
}

input {
	margin-top: 20px;
	width: 300px;
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
}

#forms {
	margin: 30px auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: beige;
}

.button {
	background-color: aquamarine;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 3px 30px;
	border-radius: 20px;
}

.left {
width: 100%;
display: flex;
flex-direction: column;
gap: 10px;
}

.container,
.deposit main {
	width: 100%;
	background-color: rgba(128, 255, 128, 0.2);
	border: 2px  rgba(128, 255, 128, 0.5) solid;
	margin: 5px;
	padding-left: 20px;
	box-sizing: border-box;
	line-height: 1.0;
}

main {
/*	margin-top: 50px;*/
}

.wrap {
	width: 1200px;
	margin: 0 auto;
}

.top_info {
	display: flex;
	gap: 20px;
}

.total_assets {
	font-size: 1.5em;
	font-weight: bold;
}

table tr th, table tr td {
	padding: 5px;	
}